.cus-link {
    position: relative;
}

.cus-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #e60076;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.cus-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
